*{
    margin: 0;
    padding: 0;
}

.white{
    color: #ffffff;
}

.green{
    color:#30B868;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    max-width: 1600px;
    height: 92px;
    background-color: #ffffff;
}

nav{
    display: flex;
    /* align-items: center; */
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.logo{
    width: 139px;
    height: 60px;
    /* margin-left: 120px; */
    margin: 16px 300px 16px 120px ;
}

.menu{
    margin:34px 300px 34px 0;
}

.button{
    padding: 12px 16px;
    color: #ffffff;
    background-color: #469165;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin: 24px 100px 24px 0;
}

#banner{
    background-image: url("../images/hero-bg.png");
    max-width: 1600px;
    height: 674px;
}

.main-banner{
    text-align: center;
    padding: 115px 120px 179px 120px;
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 229px;
    height: 35px;
    margin: 0 auto;
    /* padding: 8px 12px; */
    background-color: #ffffff;
    border-radius: 1000px;
    
    border: none;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #30B868;
    margin-right: 6px;
    border: 6px solid #cde4d6;
}
.btn1{
    color: #469165;
    font-size: 16px;
    background: transparent;
    border: none;
}

.main-banner h1{
    font-size: 78px;
    margin-bottom: 16px;
}

.main-banner p{
    font-size: 18px;
    line-height: 24px;
}

.btn2{
    padding:16px;
    color: #ffffff;
    background-color: #469165;
    font-size: 16px;
    margin-top: 32px;
    border-radius: 4px;
    border: none;
}

.btn3{
    padding:16px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 32px;
    border-radius: 4px;
    border: 1.5px dotted #ffffff;
    background: transparent;
}

#note-section{
    text-align: center;
    padding-top: 80px;
}

.note-heading h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.note-heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}

.note-card{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card{
    width: 322px;
    height: 300px;
    text-align: center;
    /* border: 1px solid tomato; */
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 6px 50px 0 #00000015;
}


.shape{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 131px;
    margin-bottom: 16px;
}

.card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}

.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-left: 24px;
    margin-right: 24px;
}

#solution-section{
    padding: 120px;
}

.main-solution{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.detail .paragraph1{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    margin-top: 120px;
    margin-bottom: 16px;
}

.detail h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.detail .paragraph2 {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
    text-align: left;
}

.list{
    display: flex;
    margin-bottom: 16px;
}

.list p{
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    margin-left: 6px;
}

#ready-section{
    display: flex;
    justify-content: center;
}
.main-card{
    text-align: center;
    width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    border-radius: 12px;
}

.main-card h2{
    font-size: 40px;
    color: #001931;
    margin-top: 80px;
    margin-bottom: 16px;
}

.main-card p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.main-card button{
    padding:16px;
    color: #ffffff;
    background-color: #469165;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin-bottom: 16px;
}

footer{
    text-align: center;
    margin-top: 120px;
    max-width: 1600px;
    height: 348px;
    background-color: #001931;
}

.footer-section1{
    display: flex;
}

.footer-logo{
    margin: 120px 1001px 84px 120px;
}

.social-links h3{
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 120px;
    margin-bottom: 16px;
}

.links{
    display: flex;
    gap: 16px;
}

.link{
    color: #ffffff;
    font-size: 20px;
}

footer hr{
    width: 1340px;
    margin: 0 auto;
    border: 1px solid rgba(44, 42, 42, 0.841);
}

.footer-section2 p {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    margin-top: 30px;
}